<animated-container>
    <app-menu [styleClass]="'relative! w-full! p-0! border-0 rounded-none! bg-transparent'"></app-menu>
    <div class="pt-20">

        <section class="tours-details">
            <div class="container">

                @if (tour) {

                <div class="mb-8">

                    <h1 class="text-4xl md:text-5xl font-bold mb-6 dark:text-surface-0!">
                        {{ localization.getText(tour.title) }}
                    </h1>

                    <div class="flex flex-wrap gap-3">

                        @if (tour?.region) {

                        <div
                            class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                            <i class="pi pi-map-marker text-[var(--p-primary-color)]"></i>

                            <span class="font-medium">

                                {{ localization.getText(tour.region) }}

                            </span>

                        </div>

                        }

                        @for (
                        fact of tour?.facts?.slice(0, 3) ?? [];
                        track $index
                        ) {

                        <div
                            class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                            <i [class]="fact.icon + ' text-[var(--p-primary-color)]'"></i>

                            <span class="font-medium">

                                {{ localization.getText(fact.value) }}

                            </span>

                        </div>

                        }

                    </div>

                </div>


                }
                @if (tour && galleryColumns.length) {


                <div class="md:hidden">

                    <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[320px]">

                        <img
                            [src]="galleryColumns[2].images[0].image"
                            alt=""
                            class="w-full h-full object-cover"
                        >

                        <div class="gallery-one__card__hover">

                            <a
                                (click)="openGallery(galleryColumns[2].images[0].image)"
                                class="img-popup"
                            >
                                <i
                                    class="pi pi-camera"
                                    style="font-size:1.5rem"
                                ></i>
                            </a>

                        </div>

                    </div>

                </div>

                <div class="hidden md:grid xl:hidden grid-cols-5 gap-4">

                    <div class="col-span-1 flex flex-col gap-4">

                        @for (item of galleryColumns[0].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="item.image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(item.image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                        }

                    </div>

                    <div class="col-span-2">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[1].images[0].height"
                        >

                            <img
                                [src]="galleryColumns[1].images[0].image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(galleryColumns[1].images[0].image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="col-span-2">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[2].images[0].height"
                        >

                            <img
                                [src]="galleryColumns[2].images[0].image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(galleryColumns[2].images[0].image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="hidden xl:grid xl:grid-cols-11 gap-4">

                    <div class="xl:col-span-2 flex flex-col gap-4">

                        @for (item of galleryColumns[0].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="item.image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(item.image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                        }

                    </div>

                    <div class="xl:col-span-3">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[1].images[0].height"
                        >

                            <img
                                [src]="galleryColumns[1].images[0].image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(galleryColumns[1].images[0].image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="xl:col-span-4">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[2].images[0].height"
                        >

                            <img
                                [src]="galleryColumns[2].images[0].image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(galleryColumns[2].images[0].image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="xl:col-span-2 flex flex-col gap-4">

                        @for (item of galleryColumns[3].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="item.image"
                                alt=""
                                class="w-full h-full object-cover"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(item.image)"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                        }

                    </div>

                </div>

                }


                @if (tour?.tags?.length) {

                <div class="flex flex-wrap gap-2 mt-4">

                    @for (
                    tag of tour.tags;
                    track $index
                    ) {

                    <div class="flex items-center gap-2 px-4 py-2 rounded-full border border-[var(--p-surface-200)]">

                        <i class="pi pi-hashtag text-[var(--p-primary-color)] text-xs"></i>

                        <span class="font-medium text-sm">

                            {{ localization.getText(tag) }}

                        </span>

                    </div>

                    }

                </div>

                }
                <div class="mt-[25px] flex justify-center">
                    <div
                        class="col-lg-8 wow fadeInUp"
                        data-wow-delay="200ms"
                    >

                        <div class="tours-details__content">
                            <h3 class="tours-details__title dark:text-surface-0!"> {{ 'components.tour.overview' |
                                translate }}
                            </h3>
                            @if (tour?.content) { <p class="tours-details__text"> {{ localization.getText(tour.content)
                                }} </p> } @if (tour?.contentSecond) { <p class="tours-details__text"> {{
                                localization.getText(tour.contentSecond) }} </p> }






                            <h3 class="tours-details__title mt-9! dark:text-surface-0!">{{
                                'components.tour.includedExcluded' |
                                translate }}</h3>

                            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

                                <div>

                                    <ul class="tours-details__list">

                                        @for (
                                        item of tour?.included ?? [];
                                        track $index
                                        ) {

                                        <li>

                                            <i
                                                class="pi pi-check"
                                                style="font-size: 1.2rem"
                                            ></i>

                                            {{ localization.getText(item) }}

                                        </li>

                                        }

                                    </ul>

                                </div>

                                <div>

                                    <ul class="tours-details__list">

                                        @for (
                                        item of tour?.excluded ?? [];
                                        track $index
                                        ) {

                                        <li>

                                            <i
                                                class="pi pi-times"
                                                style="font-size: 1.2rem"
                                            ></i>

                                            {{ localization.getText(item) }}

                                        </li>

                                        }

                                    </ul>

                                </div>

                            </div>



                            <h3 class="tours-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.tour.treatments' | translate }}
                            </h3>

                            @if (tour?.treatments?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of tour.treatments;
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="localization.getText(item.title)"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <h3
                                            class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0! flex-1">
                                            {{ localization.getText(item.title) }}
                                        </h3>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }

                            <!-- <h3 class="tours-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.tour.locations' | translate }}
                            </h3>

                            @if (tour?.locations?.length) {

                            <div class="flex flex-wrap gap-3">

                                @for (
                                item of tour.locations;
                                track $index
                                ) {

                                <div
                                    class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                                    <i class="pi pi-map-marker text-[var(--p-primary-color)]"></i>

                                    <span class="font-medium">

                                        {{ localization.getText(item.name) }}

                                    </span>

                                </div>

                                }

                            </div>

                            } -->

                            <h3 class="tours-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.tour.excursions' | translate }}
                            </h3>

                            @if (tour?.excursions?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of tour.excursions;
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="localization.getText(item.title)"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <div class="flex items-center gap-3 flex-1">

                                            <i class="pi pi-map-marker text-[var(--p-primary-color)]"></i>

                                            <h3
                                                class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0!">
                                                {{ localization.getText(item.title) }}
                                            </h3>

                                        </div>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }

                            <h3 class="tours-details__title mt-9!  dark:text-surface-0!">
                                {{ 'components.tour.dailySchedule' | translate }}
                            </h3>

                            @if (tour?.dailySchedule?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of tour.dailySchedule;
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="item.time"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <div class="flex flex-col flex-1">



                                            <h3
                                                class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0!">
                                                {{ item.time }} - {{ localization.getText(item.title) }}
                                            </h3>

                                        </div>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }


                            <h3 class="tours-details__title mt-9! dark:text-surface-0!"> {{
                                'components.tour.topHighlights' |
                                translate }}</h3>

                            @if (tour?.highlights?.length) {

                            <ul class="tours-details__list">

                                @for (
                                item of tour.highlights;
                                track $index
                                ) {

                                <li>

                                    <i
                                        class="pi pi-check"
                                        style="font-size: 1.2rem"
                                    ></i>

                                    {{ localization.getText(item) }}

                                </li>

                                }

                            </ul>

                            }


                            <h3 class="tours-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.tour.itinerary' | translate }}
                            </h3>

                            @if (tour?.itinerary?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of tour.itinerary;
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="item.day"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <div class="flex flex-col flex-1">

                                            <h3
                                                class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0!">
                                                {{ 'components.tour.day' | translate }} {{ item.day }} - {{
                                                localization.getText(item.title) }}
                                            </h3>

                                        </div>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }


                            <h3 class="destination-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.tour.questions' | translate }}
                            </h3>

                            @if (tour?.questions?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of tour.questions;
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="localization.getText(item.title)"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <h3
                                            class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0! flex-1">

                                            {{ localization.getText(item.title) }}

                                        </h3>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }



                        </div>


                        @if (tour?.video) {

                        <div class="destination-details__video">

                            <img
                                [src]="tour?.videoThumb || tour?.image"
                                [alt]="tour?.title"
                            >

                            <a
                                class="video-popup"
                                [href]="tour?.video"
                                target="_blank"
                            >
                                <img
                                    src="assets/images/shapes/video-btn.png"
                                    [alt]="tour?.title"
                                >
                            </a>

                        </div>

                        }

                        <h3 class="destination-details__title mt-9! dark:text-surface-0!"> {{ 'components.tour.seeMap' |
                            translate }}</h3>

                        <div
                            class="destination-details__map"
                            *ngIf="showMap$ | async"
                        >
                            <google-map
                                height="476px"
                                width="100%"
                                (mapInitialized)="onMapInitialized($event)"
                                [options]="mapOptions"
                            >

                                <map-advanced-marker
                                    *ngFor="let m of markers; trackBy: trackBy"
                                    [position]="m.position"
                                    [content]="m.content"
                                    [gmpDraggable]="false"
                                >
                                </map-advanced-marker>

                            </google-map>

                        </div>

                    </div>

                </div>
            </div>
        </section>
        <app-footer />
    </div>
    <app-galleria />
</animated-container>