<animated-container>
    <app-menu [styleClass]="'relative! w-full! p-0! border-0 rounded-none! bg-transparent'"></app-menu>
    <div class="pt-20">
        <section class="destination-details">
            <div class="container">


                @if (destination) {

                <div class="mb-8">

                    <h1 class="text-4xl md:text-5xl font-bold mb-6 dark:text-surface-0!">
                        {{ localization.getText(destination.title) }}
                    </h1>

                    <div class="flex flex-wrap gap-3">

                        @if (destination.region) {

                        <div
                            class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                            <i class="pi pi-map-marker text-[var(--p-primary-color)]"></i>

                            <span class="font-medium">
                                {{ localization.getText(destination.region) }}
                            </span>

                        </div>

                        }

                        @for (
                        fact of destination?.facts?.slice(0, 3) ?? [];
                        track $index
                        ) {

                        <div
                            class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                            <i [class]="fact.icon + ' text-[var(--p-primary-color)]'"></i>

                            <span class="font-medium">
                                {{ localization.getText(fact.value) }}
                            </span>

                        </div>

                        }

                    </div>

                </div>
                }

                @if (destination && galleryColumns.length) {


                <div class="md:hidden">

                    <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[320px]">

                        <img
                            [src]="image.getImage(galleryColumns[2].images[0].image, 1600)"
                            [srcset]="image.getSrcSet(galleryColumns[2].images[0].image)"
                            sizes="100vw"
                            alt=""
                            class="w-full h-full object-cover"
                            loading="lazy"
                            decoding="async"
                        >

                        <div class="gallery-one__card__hover">

                            <a
                                (click)="openGallery(image.getImage(galleryColumns[2].images[0].image, 1600))"
                                class="img-popup"
                            >
                                <i
                                    class="pi pi-camera"
                                    style="font-size:1.5rem"
                                ></i>
                            </a>

                        </div>

                    </div>

                </div>

                <div class="hidden md:grid xl:hidden grid-cols-5 gap-4">

                    <div class="col-span-1 flex flex-col gap-4">

                        @for (item of galleryColumns[0].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="image.getImage(item.image, 1200)"
                                [srcset]="image.getSrcSet(item.image)"
                                sizes="(max-width: 768px) 100vw, 50vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >



                        </div>

                        }

                    </div>

                    <div class="col-span-2">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[1].images[0].height"
                        >

                            <img
                                [src]="image.getImage(galleryColumns[1].images[0].image, 1600)"
                                [srcset]="image.getSrcSet(galleryColumns[1].images[0].image)"
                                sizes="100vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(galleryColumns[1].images[0].image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="col-span-2">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[2].images[0].height"
                        >

                            <img
                                [src]="image.getImage(galleryColumns[2].images[0].image, 1600)"
                                [srcset]="image.getSrcSet(galleryColumns[2].images[0].image)"
                                sizes="100vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(galleryColumns[2].images[0].image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="hidden xl:grid xl:grid-cols-11 gap-4">

                    <div class="xl:col-span-2 flex flex-col gap-4">

                        @for (item of galleryColumns[0].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="image.getImage(item.image, 1200)"
                                [srcset]="image.getSrcSet(item.image)"
                                sizes="(max-width: 768px) 100vw, 50vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(item.image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                        }

                    </div>

                    <div class="xl:col-span-3">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[1].images[0].height"
                        >

                            <img
                                [src]="image.getImage(galleryColumns[1].images[0].image, 1600)"
                                [srcset]="image.getSrcSet(galleryColumns[1].images[0].image)"
                                sizes="100vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(galleryColumns[1].images[0].image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="xl:col-span-4">

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="galleryColumns[2].images[0].height"
                        >

                            <img
                                [src]="image.getImage(galleryColumns[2].images[0].image, 1600)"
                                [srcset]="image.getSrcSet(galleryColumns[2].images[0].image)"
                                sizes="100vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(galleryColumns[2].images[0].image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="xl:col-span-2 flex flex-col gap-4">

                        @for (item of galleryColumns[3].images; track $index) {

                        <div
                            class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)]"
                            [style.height.px]="item.height"
                        >

                            <img
                                [src]="image.getImage(item.image, 1200)"
                                [srcset]="image.getSrcSet(item.image)"
                                sizes="(max-width: 768px) 100vw, 50vw"
                                alt=""
                                class="w-full h-full object-cover"
                                loading="lazy"
                                decoding="async"
                            >

                            <div class="gallery-one__card__hover">

                                <a
                                    (click)="openGallery(image.getImage(item.image, 1600))"
                                    class="img-popup"
                                >
                                    <i
                                        class="pi pi-camera"
                                        style="font-size:1.5rem"
                                    ></i>
                                </a>

                            </div>

                        </div>

                        }

                    </div>

                </div>

                }

                @if (destination?.tags?.length) {

                <div class="flex flex-wrap gap-2 mt-4">

                    @for (
                    tag of destination?.tags;
                    track $index
                    ) {

                    <div class="flex items-center gap-2 px-4 py-2 rounded-full border border-[var(--p-surface-200)]">

                        <i class="pi pi-hashtag text-[var(--p-primary-color)] text-xs"></i>

                        <span class="font-medium text-sm">

                            {{ localization.getText(tag) }}

                        </span>

                    </div>

                    }

                </div>

                }

                <div class="mt-[25px] flex justify-center">
                    <div>
                        <div class="destination-details__content">
                            <h3 class="destination-details__title dark:text-surface-0!"> {{ 'components.tour.overview' |
                                translate }} </h3>
                            @if (destination?.description) {
                            <p class="destination-details__text">
                                {{ destination ? localization.getText(destination.description) : '' }}
                            </p>
                            }
                            @if (destination?.content) {
                            <p class="destination-details__text">
                                {{ destination ? localization.getText(destination.content) : '' }}
                            </p>
                            }

                            @if (destination?.contentSecond) {
                            <p class="destination-details__text">
                                {{ destination ? localization.getText(destination.contentSecond) : '' }}
                            </p>
                            }

                            <h3 class="tours-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.destination.topHighlights' | translate }}
                            </h3>

                            @if (destination?.highlights?.length) {

                            <ul class="tours-details__list">

                                @for (
                                item of destination?.highlights;
                                track $index
                                ) {

                                <li>

                                    <i
                                        class="pi pi-check"
                                        style="font-size: 1.2rem"
                                    ></i>

                                    {{ localization.getText(item) }}

                                </li>

                                }

                            </ul>

                            }


                            <h3 class="destination-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.destination.locations' | translate }}
                            </h3>

                            @if (destination?.locations?.length) {

                            <div class="flex flex-wrap gap-3">

                                @for (
                                item of destination?.locations;
                                track $index
                                ) {

                                <div
                                    class="flex items-center gap-2 px-5 py-3 rounded-full border border-[var(--p-surface-200)]">

                                    <i class="pi pi-map-marker text-[var(--p-primary-color)]"></i>

                                    <span class="font-medium">

                                        {{ localization.getText(item.name) }}

                                    </span>

                                </div>

                                }

                            </div>

                            }

                            @if (destination?.video) {

                            <div class="destination-details__video">

                                <img
                                    [src]="destination?.videoThumb || destination?.image"
                                    [alt]="destination ? localization.getText(destination.title) : ''"
                                >

                                <a
                                    class="video-popup"
                                    [href]="destination?.video"
                                    target="_blank"
                                >
                                    <img
                                        src="assets/images/shapes/video-btn.png"
                                        [alt]="destination ? localization.getText(destination.title) : ''"
                                    >
                                </a>

                            </div>

                            }


                            <h3 class="destination-details__title mt-9! dark:text-surface-0!"> {{
                                'components.destination.questions' |
                                translate }}</h3>


                            @if (destination?.questions?.length) {

                            <p-accordion
                                class="flex flex-col gap-4"
                                expandIcon="pi pi-plus"
                                collapseIcon="pi pi-minus"
                            >

                                @for (
                                item of destination?.questions ?? [];
                                track $index
                                ) {

                                <p-accordion-panel
                                    [value]="$index"
                                    class="rounded-3xl px-1 overflow-hidden shadow-stroke dark:shadow-none border-0! dark:border! dark:border-white/12"
                                >

                                    <p-accordion-header class="py-6! bg-surface-0! dark:bg-surface-950!">

                                        <h3
                                            class="text-xl! m-0! font-semibold text-surface-950 dark:text-surface-0! flex-1">

                                            {{ localization.getText(item.title) }}

                                        </h3>

                                    </p-accordion-header>

                                    <p-accordion-content>

                                        <p class="pb-6 text-lg font-medium text-surface-500 dark:text-white/64">

                                            {{ localization.getText(item.description) }}

                                        </p>

                                    </p-accordion-content>

                                </p-accordion-panel>

                                }

                            </p-accordion>

                            }

                            <h3 class="destination-details__title mt-9! dark:text-surface-0!">{{
                                'components.destination.seeMap' |
                                translate }}</h3>

                            <div
                                class="destination-details__map"
                                *ngIf="showMap$ | async"
                            >
                                <google-map
                                    height="476px"
                                    width="100%"
                                    [options]="mapOptions"
                                    (mapInitialized)="onMapInitialized($event)"
                                >

                                    <map-advanced-marker
                                        *ngFor="let m of markers; trackBy: trackBy"
                                        [position]="m.position"
                                        [content]="m.content"
                                        [gmpDraggable]="false"
                                    >
                                    </map-advanced-marker>

                                </google-map>

                            </div>


                            @if (tours.length) {

                            <h3 class="destination-details__title mt-9! dark:text-surface-0!">
                                {{ 'components.destination.tours' | translate }}
                            </h3>

                            <ui-carousel
                                [hideMask]="true"
                                [hideButtons]="true"
                                [hideDots]="false"
                                [size]="'33.333%'"
                                [spacing]="'24px'"
                                [height]="'auto'"
                                [breakpoints]="breakpoints"
                                [options]="{
        align: 'start',
        loop: true,
        containScroll: false
    }"
                            >

                                <ui-carousel-item
                                    *ngFor="let tour of tours"
                                    className="px-4"
                                >

                                    <div class="tours-one__item h-[400px]!">

                                        <img
                                            [src]="image.getImage(tour.image)"
                                            [srcset]="image.getSrcSet(tour.image)"
                                            sizes="(max-width: 576px) 100vw,
           (max-width: 992px) 50vw,
           33vw"
                                            [alt]="localization.getText(tour.title)"
                                            loading="lazy"
                                            decoding="async"
                                        >

                                        @if (tour.featured) {
                                        <div class="tours-one__item__offer tours-one__item__feature">
                                            {{ 'components.homeFeaturedTours.featured' | translate }}
                                        </div>
                                        }

                                        <div class="tours-one__item__content">

                                            <h3 class="tours-one__item__title">
                                                <a [routerLink]="['/tours', tour.slug]">
                                                    {{ localization.getText(tour.title) }}
                                                </a>
                                            </h3>

                                            <ul class="tours-one__item__meta">
                                                <li>
                                                    <i class="pi pi-calendar-clock"></i>
                                                    {{ tour.durationDays }} Days
                                                </li>

                                                <li>
                                                    <i class="pi pi-map-marker"></i>
                                                    {{ localization.getText(tour.region) }}
                                                </li>
                                            </ul>

                                        </div>



                                    </div>

                                </ui-carousel-item>

                            </ui-carousel>

                            }
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <app-footer />
    </div>
</animated-container>

<app-galleria #gallery></app-galleria>