<section class="gallery-one">
    <div class="container">

        <div class="sec-title text-center">

            <div class="sec-title__tagline bw-split-in-right">
                {{ 'components.about.gallery.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left dark:text-surface-0!">
                {{ 'components.about.gallery.title' | translate }}
            </h3>

            <p class="sec-title__text bw-split-in-up-fast">
                {{ 'components.about.gallery.description' | translate }}
            </p>

        </div>


        <div class="md:hidden">

            <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[320px]">



                <img
                    [src]="image.getImage(galleryColumns[2].items[0].image)"
                    [srcset]="image.getSrcSet(galleryColumns[2].items[0].image)"
                    sizes="(max-width: 768px) 100vw,
           (max-width: 1280px) 50vw,
           25vw"
                    class="w-full h-full object-cover"
                    loading="lazy"
                    decoding="async"
                >

                <div class="gallery-one__card__hover">
                    <a
                        (click)="openGallery(galleryColumns[2].items[0])"
                        class="img-popup"
                    >
                        <i
                            class="pi pi-camera"
                            style="font-size: 1.5rem"
                        ></i>
                    </a>
                </div>

            </div>

        </div>


        <div class="hidden md:grid xl:hidden grid-cols-3 gap-6">


            <div class="space-y-[30px]">


                <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[215px]">



                    <img
                        [src]="image.getImage(galleryColumns[0].items[0].image)"
                        [srcset]="image.getSrcSet(galleryColumns[0].items[0].image)"
                        sizes="(max-width: 768px) 100vw,
           (max-width: 1280px) 50vw,
           25vw"
                        class="w-full h-full object-cover"
                        loading="lazy"
                        decoding="async"
                    >

                    <div class="gallery-one__card__hover">
                        <a
                            (click)="openGallery(galleryColumns[0].items[0])"
                            class="img-popup"
                        >
                            <i class="pi pi-camera text-[1.5rem]"></i>
                        </a>
                    </div>

                </div>


                <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[215px]">



                    <img
                        [src]="image.getImage(galleryColumns[3].items[0].image)"
                        [srcset]="image.getSrcSet(galleryColumns[3].items[0].image)"
                        sizes="(max-width: 768px) 100vw,
           (max-width: 1280px) 50vw,
           25vw"
                        class="w-full h-full object-cover"
                        loading="lazy"
                        decoding="async"
                    >

                    <div class="gallery-one__card__hover">
                        <a
                            (click)="openGallery(galleryColumns[3].items[0])"
                            class="img-popup"
                        >
                            <i class="pi pi-camera text-[1.5rem]"></i>
                        </a>
                    </div>

                </div>

            </div>


            <div class="col-span-2">

                <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[460px]">



                    <img
                        [src]="image.getImage(galleryColumns[2].items[0].image)"
                        [srcset]="image.getSrcSet(galleryColumns[2].items[0].image)"
                        sizes="(max-width: 768px) 100vw,
           (max-width: 1280px) 50vw,
           25vw"
                        class="w-full h-full object-cover"
                        loading="lazy"
                        decoding="async"
                    >

                    <div class="gallery-one__card__hover">
                        <a
                            (click)="openGallery(galleryColumns[2].items[0])"
                            class="img-popup"
                        >
                            <i class="pi pi-camera text-[1.5rem]"></i>
                        </a>
                    </div>

                </div>

            </div>

        </div>


        <div class="hidden xl:grid xl:grid-cols-5 gap-x-6 gap-y-[30px]">

            <div
                *ngFor="let column of galleryColumns"
                class=""
            >

                <ng-container *ngIf="column.type === 'large'; else smallColumn">

                    <div class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[460px]">

                        <img
                            [src]="image.getImage(column.items[0].image)"
                            [srcset]="image.getSrcSet(column.items[0].image)"
                            sizes="25vw"
                            class="w-full h-full object-cover"
                            loading="lazy"
                            decoding="async"
                        />

                        <div class="gallery-one__card__hover">
                            <a
                                (click)="openGallery(column.items[0])"
                                class="img-popup"
                            >
                                <i
                                    class="pi pi-camera"
                                    style="font-size: 1.5rem"
                                ></i>
                            </a>
                        </div>

                    </div>

                </ng-container>

                <ng-template #smallColumn>

                    <div
                        *ngFor="let item of column.items"
                        class="gallery-one__card shadow-[0_4px_20px_rgba(0,0,0,0.04)] h-[215px]"
                    >


                        <img
                            [src]="image.getImage(item.image)"
                            [srcset]="image.getSrcSet(item.image)"
                            sizes="(max-width: 768px) 100vw,
           (max-width: 1280px) 50vw,
           25vw"
                            class="w-full h-full object-cover"
                            loading="lazy"
                            decoding="async"
                        >

                        <div class="gallery-one__card__hover">
                            <a
                                (click)="openGallery(item)"
                                class="img-popup"
                            >
                                <i
                                    class="pi pi-camera"
                                    style="font-size: 1.5rem"
                                ></i>
                            </a>
                        </div>

                    </div>

                </ng-template>

            </div>

        </div>

    </div>
</section>




<app-galleria #gallery></app-galleria>