<animated-container>
    <app-menu [styleClass]="'relative! w-full! p-0! border-0 rounded-none! bg-transparent'"></app-menu>
    <div class="pt-20">
        <app-header [title]="'components.disclaimer.title' | translate">
            {{ 'components.disclaimer.description' | translate }}
        </app-header>

        <section class="py-[120px]">

            <div class="container">

                @if (disclaimer$ | async; as disclaimer) {

                <div>
                    @for (section of disclaimer.sections; track section.id) {

                    <section
                        [id]="section.id"
                        class="mb-16"
                    >

                        <h2 class="mb-8 text-2xl font-semibold">
                            {{ section.title }}
                        </h2>

                        @for (paragraph of section.content; track $index) {

                        <p class="mb-4 leading-8 text-gray-700">
                            {{ paragraph }}
                        </p>

                        }

                        @if (section.items?.length) {

                        <div class="mt-8 space-y-8">

                            @for (item of section.items; track item.title) {

                            <div>

                                <h3 class="mb-4 text-lg font-medium">
                                    {{ item.title }}
                                </h3>

                                <ul class="list-disc pl-6 space-y-2">

                                    @for (line of item.content; track $index) {

                                    <li class="leading-7 text-gray-700">
                                        {{ line }}
                                    </li>

                                    }

                                </ul>

                            </div>

                            }

                        </div>

                        }

                    </section>


                    }

                    <p class="mb-10 text-sm text-gray-500">
                        {{ 'components.privacyPolicy.lastUpdated' | translate }}
                        {{ disclaimer.lastUpdated }}
                    </p>
                </div>

                }

            </div>
        </section>
        <app-footer />
    </div>
</animated-container>