<section class="how-to-work section-space">
    <div class="container">

        <div class="sec-title text-center">
            <div class="sec-title__tagline bw-split-in-right">
                {{ 'components.homeHowToWork.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left dark:text-surface-0!">
                {{ 'components.homeHowToWork.title' | translate }}
            </h3>

            <p class="sec-title__text inline-block max-w-3xl mx-auto dark:text-surface-0!">
                {{ 'components.homeHowToWork.description' | translate }}
            </p>
        </div>



        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10 gap-x-6">

            @for (item of howToWorkItems; track $index) {

            <div class="how-to-work__item wow fadeInUp">
                <div class="how-to-work__icon">
                    <ng-container *ngComponentOutlet="item.icon"></ng-container>
                    <span class="how-to-work__icon__count"></span>
                </div>

                <h4 class="how-to-work__title dark:text-surface-0!">
                    {{ item.titleKey | translate }}
                </h4>

                <p class="how-to-work__text">
                    {{ item.textKey | translate }}
                </p>
            </div>

            }

        </div>
        <div class="how-to-work__shape"><img
                alt="shape-image"
                width="1165"
                height="87"
                decoding="async"
                src="assets/images/shapes/line-how-to.svg"
                style="color: transparent;"
            ></div>

    </div>
</section>