<animated-container>
    <app-menu [styleClass]="'relative! w-full! p-0! border-0 rounded-none! bg-transparent'"></app-menu>
    <div class="pt-20">
        <section class="blog-details">
            <div class="container">
                <div class="flex justify-center">
                    <div class="w-full">
                        <div class="blog-details__thumb">
                            <img
                                src="assets/images/blog/1320x417.svg"
                                alt="travhub"
                            >
                            <div class="blog-details__date">18<span>June</span></div>
                        </div>
                        <ul class="blog-details__meta">
                            <li class="dark:text-surface-0!"><i class="pi pi-user"></i>Wade Warren</li>
                            <li class="dark:text-surface-0!"><i class=" pi pi-eye"></i>240</li>
                        </ul>
                        <h3 class="blog-details__title dark:text-surface-0!">Katie Stewart Your charity may be net zero
                        </h3>

                        <div class="blog-details__content">
                            <p class="blog-details__text dark:text-surface-0!">
                                You’ve switched your charity’s office to renewable energy. You’ve cut most flights. The
                                office fridge is stacked high with
                                oat milk, and lycra-clad staff are proudly showing off their subsidised bicycles. On
                                your
                                way to net-zero, right? But
                                operational emissions are just one part of the net-zero picture: your money, too, has a
                                carbon cost attached.
                            </p>
                            <p class="blog-details__text dark:text-surface-0!">
                                Cras varius. Donec vitae orci sed dolor rutrum auctor. Fusce egestas elit eget lorem.
                                Suspendisse nisl elit, rhoncus eget
                                elementum acondimentum eget, diam. Nam at tortor in tellus interdum sagitliquam
                                lobortis.
                                Donec orci lectus, aliquam ut,
                                faucibus non, euismod id, nulla. Curabitur blandit mollis lacus. Nam adipiscing.
                                Vestibulum
                                eu odio. Vivamus laoreet.
                                mavailable market standard dummy text available market industry Lorem Ipsum simply dummy
                                text of free available market.
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration
                            </p>

                            <blockquote class="blog-details__blockquote">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M0 4V28L12 16V4H0Z"
                                        fill="white"
                                    />
                                    <path
                                        d="M20 4V28L32 16V4H20Z"
                                        fill="white"
                                    />
                                </svg>


                                Feeling adventurous? Explore the beauty of Shapla Beels.

                            </blockquote>
                            <p class="blog-details__text dark:text-surface-0">
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                dis
                                parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                                massa
                                quis enim. Donec pede justo, fringilla vel,
                                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                vitae,
                                justo. Nullam dictum felis eu pede mollis
                                pretium. Integer tincidunt.
                            </p>
                            <h4 class="blog-carousel__content__title dark:text-surface-0!">
                                There's something undeniably captivating about coral islands
                            </h4>
                            <p class="blog-details__text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                                Aenean massa. Cum sociis natoque penatibus
                                etmagnis disparturient montesnascetur ridiculus mus. Donec quam felis, ultricies nec,
                                pellentesque eu, pretium quis, sem. Nulla consequat
                                massa quis enim. Donec pede justo, fringilla vel aliquet nec, vulputate eget, arcu. In
                                enim
                                justo rhoncus utimperdiet a venenatis vitae justo.
                            </p>

                            <p class="blog-details__text">
                                Pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet nec, vulputate eget, arcu.
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                                pede
                                mollis pretium. Integer tincidunt pretium quis,
                                sem. Nulla consequat massa quis enim. Aenean commodo ligula eget dolor. Aenean massa.
                                Cum
                                sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            </p>
                        </div>
                        <div class="blog-details__post-meta">
                            <div class="blog-details__tags">



                                <div class="flex flex-wrap gap-2">

                                    @for (tag of tags; track tag) {

                                    <p-tag
                                        [value]="tag"
                                        [rounded]="true"
                                        severity="contrast"
                                        styleClass="bg-primary text-primary-contrast"
                                    />

                                    }

                                </div>

                            </div>
                            <div class="blog-details__social">
                                <a href="https://facebook.com">
                                    <i
                                        class="pi pi-telegram"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                                <a href="https://twitter.com">
                                    <i
                                        class="pi pi-whatsapp"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                                <a href="https://linkedin.com">
                                    <i
                                        class="fab fa-linkedin-in"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Linkedin</span>
                                </a>
                                <a href="https://instagram.com">
                                    <i
                                        class="fab fa-instagram"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer />
    </div>
</animated-container>