<animated-container>
    <app-menu [styleClass]="'relative! w-full! p-0! border-0 rounded-none! bg-transparent'"></app-menu>
    <div class="pt-20">
        <app-header [title]="title">

            <p
                class="text-[20px] font-medium max-w-[calc(100%-3rem)] lg:max-w-[44rem] mx-auto! text-center mt-8 text-[var(--travhub-text2)]">
                Since 2019, we've been providing comfortable and reliable transfers in Istanbul and Antalya. Over 9,000
                successful rides, average rating 4.9 — trusted by thousands of travelers.
            </p>
        </app-header>
        <section class="blog-details">
            <div class="container">
                <div class="flex justify-center">
                    <div class="w-full">
                        <div class="blog-details__thumb">
                            <img
                                src="assets/images/blog/1320x417.svg"
                                alt="travhub"
                            >
                            <div class="blog-details__date">18<span>June</span></div>
                        </div><!-- /.blog-details__thumb -->
                        <ul class="blog-details__meta">
                            <li><i class="icon-user"></i><a href="blog-grid-right.html">Wade Warren</a></li>
                            <li><i class="icon-bubble-chat"></i>05 Comment</li>
                        </ul><!-- /.blog-details__meta -->
                        <h3 class="blog-details__title">Katie Stewart Your charity may be net zero</h3>
                        <!-- /.blog-details__title -->
                        <div class="blog-details__content">
                            <p class="blog-details__text">
                                You’ve switched your charity’s office to renewable energy. You’ve cut most flights. The
                                office fridge is stacked high with
                                oat milk, and lycra-clad staff are proudly showing off their subsidised bicycles. On
                                your
                                way to net-zero, right? But
                                operational emissions are just one part of the net-zero picture: your money, too, has a
                                carbon cost attached.
                            </p>
                            <p class="blog-details__text">
                                Cras varius. Donec vitae orci sed dolor rutrum auctor. Fusce egestas elit eget lorem.
                                Suspendisse nisl elit, rhoncus eget
                                elementum acondimentum eget, diam. Nam at tortor in tellus interdum sagitliquam
                                lobortis.
                                Donec orci lectus, aliquam ut,
                                faucibus non, euismod id, nulla. Curabitur blandit mollis lacus. Nam adipiscing.
                                Vestibulum
                                eu odio. Vivamus laoreet.
                                mavailable market standard dummy text available market industry Lorem Ipsum simply dummy
                                text of free available market.
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration
                            </p>
                            <blockquote class="blog-details__blockquote">
                                Feeling adventurous? Explore the beauty of Shapla Beels.
                            </blockquote>
                            <p class="blog-details__text">
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                dis
                                parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                                massa
                                quis enim. Donec pede justo, fringilla vel,
                                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                                vitae,
                                justo. Nullam dictum felis eu pede mollis
                                pretium. Integer tincidunt.
                            </p>
                            <h4 class="blog-carousel__content__title">
                                There's something undeniably captivating about coral islands
                            </h4>
                            <p class="blog-details__text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                                Aenean massa. Cum sociis natoque penatibus
                                etmagnis disparturient montesnascetur ridiculus mus. Donec quam felis, ultricies nec,
                                pellentesque eu, pretium quis, sem. Nulla consequat
                                massa quis enim. Donec pede justo, fringilla vel aliquet nec, vulputate eget, arcu. In
                                enim
                                justo rhoncus utimperdiet a venenatis vitae justo.
                            </p>
                            <ul class="list-unstyled blog-details__list">
                                <li>Koh Larn, Thailand</li>
                                <li>World Neutral Park</li>
                                <li>5000,00 Kilometer</li>
                                <li>Wild Animals</li>
                            </ul>
                            <p class="blog-details__text">
                                Pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                fringilla vel, aliquet nec, vulputate eget, arcu.
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                                pede
                                mollis pretium. Integer tincidunt pretium quis,
                                sem. Nulla consequat massa quis enim. Aenean commodo ligula eget dolor. Aenean massa.
                                Cum
                                sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                            </p>
                        </div><!-- /.blog-details__content -->
                        <div class="blog-details__post-meta">
                            <div class="blog-details__tags">
                                <h4 class="blog-details__tags__title">Tags</h4><!-- /.blog-details__tags__title -->
                                <div class="sidebar__tags">
                                    <a href="blog-list-right.html">Travel</a>
                                    <a href="blog-list-right.html">Destination</a>
                                    <a href="blog-list-right.html">Tour Guide</a>
                                </div><!-- /.sidebar__projects -->
                            </div><!-- /.blog-details__tags -->
                            <div class="blog-details__social">
                                <a href="https://facebook.com">
                                    <i
                                        class="fab fa-facebook-f"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                                <a href="https://twitter.com">
                                    <i
                                        class="fab fa-twitter"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                                <a href="https://linkedin.com">
                                    <i
                                        class="fab fa-linkedin-in"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Linkedin</span>
                                </a>
                                <a href="https://instagram.com">
                                    <i
                                        class="fab fa-instagram"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </div><!-- /.blog-details__social -->
                        </div><!-- blog-details__post-meta -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <app-footer />
    </div>
</animated-container>