<section class="tours-three">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sec-title__tagline bw-split-in-right">
                {{ 'components.homeFeaturedTours.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left dark:text-surface-0!">
                {{ 'components.homeFeaturedTours.title' | translate }}
            </h3>

            <p class="sec-title__text inline-block max-w-3xl mx-auto dark:text-surface-0!">
                {{ 'components.homeFeaturedTours.description' | translate }}
            </p>
        </div>

        @if (!isMobile()) {
        <div class="relative mx-auto mt-14 w-full xl:w-[1152px] xl:h-[900px]">

            <animated-container
                *ngFor="let tour of tours; let i = index"
                [delay]="i * 100"
                enterClass="animate-zoomfadein"
                [className]="
        twMerge(
            'relative overflow-hidden h-[280px] md:h-[350px] xl:h-full mb-6 xl:mb-0',
            getTourGridClass(i)
        )
    "
            >

                <div class="tours-one__item h-full">

                    <img
                        [src]="tour.image"
                        [alt]="localization.getText(tour.title)"
                    >

                    @if (tour.featured) {
                    <div class="tours-one__item__offer tours-one__item__feature">
                        {{ 'components.homeFeaturedTours.featured' | translate }}
                    </div>
                    }

                    <div class="tours-one__item__content">

                        <h3 class="tours-one__item__title">
                            <a [routerLink]="['/tours', tour.slug]">
                                {{ localization.getText(tour.title) }}
                            </a>
                        </h3>

                        <ul class="tours-one__item__meta">
                            <li>
                                <i class="pi pi-calendar-clock"></i>
                                {{ tour.durationDays }} Days
                            </li>

                            <li>
                                <i class="pi pi-map-marker"></i>
                                {{ localization.getText(tour.region) }}
                            </li>
                        </ul>



                    </div>

                    <div class="tours-one__item__btn">

                        <a (click)="openGallery(tour)">
                            <i class="pi pi-camera"></i>
                        </a>

                        <a
                            *ngIf="tour.video"
                            [href]="tour.video"
                            target="_blank"
                        >
                            <i class="pi pi-video"></i>
                        </a>

                    </div>

                </div>

            </animated-container>
        </div>

        }


        @if (isMobile()) {

        <ui-carousel
            [hideMask]="true"
            [hideButtons]="true"
            [hideDots]="false"
            [size]="'33.333%'"
            [spacing]="'24px'"
            [height]="'auto'"
            [breakpoints]="breakpoints"
            [options]="{
     align: 'start',
      loop: true,
      containScroll: false,
    }"
        >

            <ui-carousel-item
                *ngFor="let tour of tours"
                className="px-4"
            >

                <div class="tours-one__item h-[465px]!">

                    <img
                        [src]="tour.image"
                        [alt]="localization.getText(tour.title)"
                    >

                    @if (tour.featured) {
                    <div class="tours-one__item__offer tours-one__item__feature">
                        {{ 'components.homeFeaturedTours.featured' | translate }}
                    </div>
                    }

                    <div class="tours-one__item__content">

                        <h3 class="tours-one__item__title">
                            <a [routerLink]="['/tours', tour.slug]">
                                {{ localization.getText(tour.title) }}
                            </a>
                        </h3>

                        <ul class="tours-one__item__meta">
                            <li>
                                <i class="pi pi-calendar-clock"></i>
                                {{ tour.durationDays }} Days
                            </li>

                            <li>
                                <i class="pi pi-map-marker"></i>
                                {{ localization.getText(tour.region) }}
                            </li>
                        </ul>




                    </div>

                    <div class="tours-one__item__btn">

                        <a (click)="openGallery(tour)">
                            <i class="pi pi-camera"></i>
                        </a>

                        <a
                            *ngIf="tour.video"
                            [href]="tour.video"
                            target="_blank"
                        >
                            <i class="pi pi-video"></i>
                        </a>

                    </div>

                </div>

            </ui-carousel-item>

        </ui-carousel>

        }

    </div>
    <div
        class="tours-three__shape"
        style="background-image: url(assets/images/shapes/bg-shape-feature.png);"
    ></div>
</section>

<app-galleria #gallery></app-galleria>