<animated-container>
    <div class="container">
        <div class="relative z-20">

            <h1 class="max-w-[calc(100%-3rem)] md:max-w-5xl! mx-auto! lg:text-5xl! text-4xl! text-center mt-18">
                {{ 'page.terms.meta.title' | translate }}
            </h1>
            <p class="text-base lg:text-xl  max-w-[calc(100%-3rem)] lg:max-w-[44rem] mx-auto! text-center mt-8">
                {{ 'page.terms.meta.description' | translate }}

            </p>

            <div class="mt-16">
                <!-- <app-terms-and-conditions/> -->
            </div>

        </div>
    </div>
</animated-container>