::ng-deep {
    .p-togglebutton {

        border: 1px solid var(--travhub-base);
        color: white;
        background: var(--travhub-base);
    }

    .p-togglebutton-checked .p-togglebutton-content {
        background: #009688;

    }
}



.blog-one__item__meta {
    display: flex;
    align-items: center;
    gap: 26px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 992px) and (max-width: 1199px) {
        gap: 18px;
    }
}

.blog-one__item__meta li {
    color: var(--travhub-white);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    position: relative;

    @media (min-width: 992px) and (max-width: 1199px) {
        gap: 6px;
        font-size: 15px;
    }
}

.blog-one__item__meta li:not(:last-of-type)::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--travhub-base);

    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
}

.blog-one__item__meta li i {
    font-size: 18px;
    color: var(--travhub-base);
    display: inline-block;

    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 16px;
    }
}