:host ::ng-deep {
  .preloader {
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--ground-background);
    width: 100%;
  }

  .preloader__dots {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .dots-item {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-color: #1863CC;
    border-radius: 50%;
    -webkit-animation: loading 1.6s infinite;
    -moz-animation: loading 1.6s infinite;
    -o-animation: loading 1.6s infinite;
    animation: loading 1.6s infinite;
  }

  .preloader .dots-item:nth-child(1) {
    background: #1BBC9B;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
  }

  .preloader .dots-item:nth-child(2) {
    background: #F8931F;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
  }

  .preloader .dots-item:nth-child(3) {
    background: #1BBC9B;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
  }

  .preloader .dots-item:nth-child(4) {
    background: #F8931F;
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-delay: .7s;
  }

  /* Keyframes */

  @-webkit-keyframes loading {

    0%,
    100% {
      -webkit-transform: scale(0.0);
    }

    50% {
      -webkit-transform: scale(1.0);
    }
  }

  @-moz-keyframes loading {

    0%,
    100% {
      -moz-transform: scale(0.0);
    }

    50% {
      -moz-transform: scale(1.0);
    }
  }

  @-o-keyframes loading {

    0%,
    100% {
      -o-transform: scale(0.0);
    }

    50% {
      -o-transform: scale(1.0);
    }
  }

  @keyframes loading {

    0%,
    100% {
      transform: scale(0.0);
    }

    50% {
      transform: scale(1.0);
    }
  }


  .map-dialog_progress.p-progressbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    z-index: 2;
    background: transparent;
  }

  .layout-news {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 2rem;
    padding: 0 2rem;
    background-color: var(--primary-color);


    .layout-news-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - var(--p-scrollbar-width, 0px));
      height: 100%;
    }

    .layout-news-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 0%;
    }

    .layout-news-text {
      line-height: 1.5;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0%;
      font-weight: 500;
      color: var(--primary-contrast-color);
    }

    .layout-news-link {
      margin-left: 0.5rem;
      line-height: 1.5;
      white-space: nowrap;
    }

    .layout-news-link,
    .layout-news-link:visited,
    .layout-news-link:active {
      color: var(--primary-contrast-color);
      font-weight: 700;
    }

    .layout-news-link:hover {
      text-decoration: underline;
    }

    .layout-news-close {
      color: var(--primary-contrast-color);
      line-height: 1.5;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      transition: background-color 0.3s;
      margin-left: 0.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .drawer-search.p-drawer-left {
    top: 7rem;
  }

  .layout-topbar {
    // top: 1rem;
  }

  .layout-topbar {
    margin-bottom: 2rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }


  .layout-news-active {
    .layout-topbar {
      // margin-top: 2rem;
      top: 2rem;
      // margin-top: 2rem;
    }

    .drawer-search.p-drawer-left {
      top: 8rem;
    }

    .layout-sidebar,
    .doc-section-nav {
      top: 8rem;
    }

    .layout-content {
      padding-top: 8rem;
    }

    .doc-section-label,
    .doc-table tbody td .doc-option-name,
    .doc-table tbody td>i {
      scroll-margin-top: 8.5rem;
    }
  }



  @media screen and (min-width: 768px) {
    .md\:hidden {
      display: none !important;
    }
  }

  .visibility-hidden {
    visibility: hidden;
  }

  .moveinright {
    animation: moveinright .15s linear;
  }

  @keyframes moveinright {
    0% {
      opacity: 0;
      transform: translateX(50px);
      transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @media screen and (min-width: 1920px) {

    .landing-wrapper,
    .layout-topbar {

      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}