<div class="c-map-dialog">

  <p-progressbar
    *ngIf="inProgress"
    styleClass="map-dialog-progress"
    mode="indeterminate"
    [style]="{ height: '4px' }"
  />

  <p-speeddial
    *ngIf="!isSmallScreen"
    className="map-dialog-close-button"
    (click)="onClose()"
    showIcon="pi pi-times"
    hideIcon="pi pi-times"
    buttonClassName="speed-dial-map-button"
    direction="left"
  />

  <div class="c-map-dialog_wrapper">

    <button
      class="map-config-button p-link"
      [ngClass]="{
    'left-0!': !isMapSidebar(),
    'left-[515px]! max-991:hidden': isMapSidebar()
  }"
      (click)="toggleSideBar()"
      type="button"
    >
      <i
        class="pi"
        [ngClass]="{
      'pi-angle-right': !isMapSidebar(),
      'pi-angle-left': isMapSidebar()
    }"
      >
      </i>
    </button>
    <div
      #dialog
      class="c-map-dialog_sidebar flex flex-col h-full"
      *ngIf="isMapSidebar()"
      [ngClass]="containerClass()"
    >

      <div class="map-dialog_sidebar-toolbar border-b border-surface flex items-center justify-between">
        <ng-container *ngIf="noProgress">
          <p-skeleton
            width="100%"
            height="2rem"
          />
        </ng-container>
        <ng-container *ngIf="!noProgress">
          <p-button
            *ngIf="!isVisibleSettings"
            [text]="true"
            styleClass="text-color"
            label="Settings"
            icon="pi pi-sliders-h"
            (click)="onSettings()"
          />
          <p-button
            *ngIf="isVisibleSettings"
            [text]="true"
            label="Back"
            styleClass="text-900"
            icon="pi pi-angle-left"
            (click)="onSettings()"
          />

          <div class="flex">
            <ng-container *ngIf="isSmallScreen">
              <p-button
                class=""
                (click)="toggleSideBar()"
                styleClass="text-xl mr-4"
                [tooltipDisabled]="!isSmallScreen"
                [rounded]="true"
                badgeSeverity="contrast"
                size="large"
                pTooltip="Map"
                tooltipPosition="bottom"
                icon="pi pi-map"
                [text]="true"
              />

              <p-button
                class=""
                (click)="onClose()"
                styleClass="text-xl mr-4"
                [tooltipDisabled]="!isSmallScreen"
                [rounded]="true"
                badgeSeverity="contrast"
                size="large"
                pTooltip="Close"
                tooltipPosition="bottom"
                icon="pi pi-times"
                [text]="true"
              />
            </ng-container>
          </div>
        </ng-container>

      </div>

      <div
        [formGroup]="form"
        class="c-map-dialog_sidebar-content flex flex-col flex-1 min-h-0"
      >
      
           <div class="flex flex-col h-screen">
           
            <ng-container *ngIf="!inProgress && (!dataSource || dataSource.length === 0);">
              <div class="p-4 text-center text-gray-500 overflow-auto">
                Nothing found
              </div>
            </ng-container>
            <p-virtualscroller  [items]="dataSource" [showLoader]="true" [trackBy]="trackByFn" [loading]="inProgress"  [delay]="scrollerOptions.delay!"  class="flex-1 min-h-0"
            #virtualScroller [numToleratedItems]="scrollerOptions.numToleratedItems!" 
            [scrollHeight]="scrollerOptions.scrollHeight" [autoSize]="scrollerOptions.autoSize!"
            [itemSize]="scrollerOptions.itemSize" [lazy]="scrollerOptions.lazy!" (onLazyLoad)="onLazyLoad($event)">
            <ng-template #item let-item let-options="options" >
            
               <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-full">
                     <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-3"
                     [ngClass]="{ 'border-t border-surface': options.index !== 0 }">
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-4">
                           <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                              <div >
                                 <span class="text-primary font-bold" style="width: 100px;">{{item?.name}}</span>
                                 <div tooltipPosition="right"
                                    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 260px; min-width: 20%;"
                                    class="text-lg font-medium mt-2">{{item?.comment ||'-'}}</div>
                                 <div class="flex align-center gap-2 flex-wrap mt-4">
                                    <p-chip label="{{item?.city?.country?.name||'-'}}" />
                                    <p-chip label="{{item?.city?.name||'-'}}" />
                                 </div>
         
                              </div>
                              <div class="flex items-center gap-3 mt-4 ">
                          
                                 <span class="font-semibold" tooltipPosition="right"
                                    pTooltip=" Create: {{item?.createdAt && item?.createdAt!=='0000-00-00 00:00:00'? (item.createdAt |date:'dd-MM-yyyy':'':'en-GB') : '-'}}"><i
                                       class="pi pi-calendar text-700 mr-2"></i>{{item?.createdAt && item?.createdAt!=='0000-00-00
                                       00:00:00'?(item?.createdAt|date:'dd-MM-yyyy':'':'en-GB') : '-'}}</span>
                                 <span class="font-semibold" tooltipPosition="right"
                                    pTooltip="Update: {{item?.updatedAt && item?.updatedAt!=='0000-00-00 00:00:00'? (item.updatedAt |date:'dd-MM-yyyy':'':'en-GB') : '-'}}"><i
                                       class="pi pi-calendar text-700 mr-2"></i>{{item?.updatedAt && item?.updatedAt!=='0000-00-00
                                       00:00:00'?(item?.updatedAt|date:'dd-MM-yyyy':'':'en-GB') : '-'}}</span>
                              </div>
                           </div>
                           <div class="flex flex-col md:items-end gap-0  md:gap-28">
                              <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px;"
                                 class="text-primary font-semibold text-900" tooltipPosition="right"
                                 pTooltip="{{item?.city?.name || ''}}">{{item?.city?.name||'-'}}
                              </span>
                              <div class="flex flex-row-reverse md:flex-row gap-2">
                                 <p-button icon="pi pi-angle-right" [outlined]="true" (click)="onDetail(item?.id)" />
         
                              </div>
                           </div>
                        </div>
         
                     </div>
                  </div>
               </div>
            </ng-template>
          
            <ng-template #loader let-item>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-full">
                  <div
                    class="p-6 px-4 md:px-6 border-top border-surface flex flex-col gap-4 w-full max-w-full"
                  >
                    <div class="flex flex-col gap-4 w-full">
                      <p-skeleton height="1rem" width="100%" />
                      <p-skeleton height="1rem" width="100%" />
                      <p-skeleton height="1rem" width="100%" />
                      <p-skeleton height="1.2rem" width="100%" />
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            
            
            
            
         </p-virtualscroller>
      
      
      </div>
       
        <p-drawer
        [(visible)]="isVisibleSettings"
        modal="false"
        appendTo=""
        showCloseIcon="false"
        styleClass="border-none p-drawer-bottom-settings"
        position="bottom"
      >
        <ng-template #header>
          <div class="flex align-items-center justify-content-between mb-0">
            <span class="text-900 text-xl font-semibold">Settings</span>
          </div>
        </ng-template>

        <app-maps-style-settings></app-maps-style-settings>
      </p-drawer>

      <p-drawer
      [(visible)]="isVisibleDetail"
      modal="false"
      appendTo=""
      (onHide)="onDetailClose()"
      styleClass="border-none p-drawer-bottom-append"
      position="bottom"
      showCloseIcon="true"
    >
      <ng-template #header>
        <div class="flex align-items-center justify-content-between mb-0">
          <span class="text-900 text-xl font-semibold">Detail</span>
        </div>
      </ng-template>

      <div>

        <p-scrollPanel
          [style]="{ width: '100%', height: '650px' }"
          styleClass="p-panel-scroll"
        ><div
        *ngIf="!noProgress"
        class="grid"
      >
        <div>
          <div class="col-span-12 flex flex-col gap-4">
            <div class="col-span-12 mb-4">
              <div class="flex justify-between items-center mb-3">
                <span class="font-bold">Name</span>
                <span class="font-bold">{{itemData?.name}}</span>
              </div>
              <div class="flex justify-between items-center mb-3">
                <span class="font-bold">Title</span>
                <span class="font-bold">{{itemData?.title ||'-'}}</span>
              </div>
              <div class="flex justify-between items-center mb-3">
                <span class="font-bold">Description</span>
                <span class="font-bold">{{itemData?.description ||'-'}}</span>
              </div>

              <div class="flex justify-between items-center mb-3">
                <span class="font-bold">Comment</span>
                <span class="font-bold">{{itemData?.comment ||'-'}}</span>
              </div>
            
            </div>
          </div>
        </div>

      </div>
         
        </p-scrollPanel>
      </div>

    </p-drawer>
      </div>
    </div>

    <div class="map-dialog_map-container">
      <ng-container *ngIf="noProgress">
        <p-skeleton
          width="100%"
          height="100%"
        />
      </ng-container>
      <div
      [class.invisible]="noProgress"
        class="c-map"
      >
      <ng-container *ngIf="isApiLoaded">
        <google-map
          height="100%"
          width="100%"
          (boundsChanged)="onBoundsChanged($event)"
          [options]="mapOptions"
          (mapInitialized)="onMapReady($event)"
        >
          <div class="c-map-toolbar-horizontal">
            <div class="flex-fill"></div>
            <div class="c-map__left-offset">


            </div>
            <div class="flex-fill"></div>
          </div>

          <div class="c-map-toolbar-vertical">
            <div class="flex-fill"></div>
            <map-fullscreen-control [fullscreenClass]="fullscreenClass"></map-fullscreen-control>
            <div class="c-map__y-offset"></div>
            <map-zoom-control></map-zoom-control>
            <div class="flex-fill"></div>

          </div>

          <map-data-layer #dataLayer
            (dataLayerClick)="ondataLayerClick($event)"
            [geoJson]="geoJson"
            [fitBounds]="fitBounds"
            *ngIf="style$ | async as style"
            [style]="style"
          ></map-data-layer> 

        
        </google-map>
      </ng-container>

      </div>
    </div>

  </div>
</div>