<section class="blog-two">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sec-title__tagline bw-split-in-right">
                {{ 'components.homeBlog.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left dark:text-surface-0!">
                {{ 'components.homeBlog.title' | translate }}
            </h3>

            <p class="sec-title__text inline-block max-w-3xl mx-auto dark:text-surface-0!">
                {{ 'components.homeBlog.description' | translate }}
            </p>
        </div>
        <ui-carousel
            className="blog-one__carousel"
            [hideMask]="true"
            [hideButtons]="true"
            [hideDots]="!isMobile()"
            [options]="{
        align: 'start',
        loop: true,
         containScroll: false,
    }"
            [size]="'33.333%'"
            spacing="24px"
            height="auto"
            [breakpoints]="breakpoints"
        >

            <ui-carousel-item
                *ngFor="let item of blogItems; let index = index"
                className="px-4"
            >

                <div class="blog-one__item h-[465px]!">

                    <div class="blog-one__item__thumb">

                        <img
                            [src]="item.image"
                            [alt]="localization.getText(item.title)"
                        >

                        <img
                            [src]="item.image"
                            [alt]="localization.getText(item.title)"
                        >

                        <a
                            [routerLink]="['/blog', item.slug]"
                            class="blog-one__item__thumb__link"
                        >
                            <span class="sr-only">
                                {{ localization.getText(item.title) }}
                            </span>
                        </a>

                    </div>

                    <div class="blog-one__item__content">

                        <h3 class="blog-one__item__title">

                            <a [routerLink]="['/blog', item.slug]">
                                {{ localization.getText(item.title) }}
                            </a>

                        </h3>

                        <ul class="blog-one__item__meta">

                            @if (item.categorySlugs?.length) {
                            <li>
                                <i class="pi pi-tag mr-2"></i>
                                {{ item.categorySlugs?.[0] }}
                            </li>
                            }

                            @if (item.publishedAt) {
                            <li>
                                <i class="pi pi-calendar mr-2"></i>
                                {{ item.publishedAt | date:'dd MMM yyyy' }}
                            </li>
                            }

                        </ul>

                    </div>

                </div>

            </ui-carousel-item>

        </ui-carousel>
    </div>
</section>