<section class="testimonials-two">

  <div class="container">
    <div class="testimonials-two__left hidden lg:block">

      @for (image of testimonialsImagesLeft; track image) {

      <div class="testimonials-two__auth">
        <img
          [src]="image"
          alt="traveller"
        >
      </div>

      }

    </div>
    <div class="testimonials-two__inner">
      <div class="">
        <div>
          <div>
            <div class="counter-one__funfact wow fadeInRight">

              @for (stat of stats.slice(0, 4); track stat; let i = $index) {

              <div class="counter-one__funfact__item count-box">

                <h3 class="counter-one__funfact__count">

                  <span
                    [countUp]="stat.value"
                    [options]="{
                duration: 8,
                suffix: stat.suffix || ''
            }"
                  ></span>

                </h3>

                <p class="counter-one__funfact__text">
                  {{ stat.textKey | translate }}
                </p>

              </div>

              }

              <div class="counter-one__funfact__item-two count-box">

                <h3 class="counter-one__funfact__item-two__count">
                  {{ stats[4].value }}
                </h3>

              </div>

              <span class="counter-one__funfact__line"></span>
              <span class="counter-one__funfact__line-two"></span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-two__right">

      @for (image of testimonialsImagesRight; track image) {

      <div class="testimonials-two__auth hidden lg:block">
        <img
          [src]="image"
          alt="traveller"
        >
      </div>

      }

    </div>
  </div>
</section>