<ng-container>

    <map-advanced-marker
        *ngIf="locatedPosition"
        [position]="locatedPosition"
        [options]="markerOptions"
        [content]="advancedMarkerContent"
    >
        <div #advancedMarkerContent>
            <div
      
        class="place place--current-location"
    ></div>
        </div>
    </map-advanced-marker>

    <p-button
        icon="pi pi-heart"
        [rounded]="true"
        (click)="onLocateUser()"
        [style]="{'width': '48px', 'height': '49px'}"
        styleClass="p-button-map shadow-[0_8px_20px_hsla(40,3%,45%,0.2)]"
    >

        <ng-template
            #icon
            let-checked
        >
            <span
                class="material-icons-outlined"
                style="font-size: x-large;"
            >
                near_me
            </span>
        </ng-template>
    </p-button>
</ng-container>