<p-drawer
    #drawerRef
    [(visible)]="visible"
>
    <ng-template #headless>
        <div class="flex flex-col h-full">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                <span class="inline-flex items-center gap-2">
                    <a
                        href="/"
                        class="footer-widget__logo"
                    >
                        <app-logo />
                    </a>
                </span>
                <span>
                    <p-button
                        type="button"
                        (click)="close()"
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        [outlined]="true"
                    ></p-button>
                </span>
            </div>
            <div class="overflow-y-auto flex-1">

                <ul class="list-none p-4 m-0">

                    <li *ngFor="let item of (menuItems$ | async)">

                        <a
                            [routerLink]="item['route']"
                            (click)="close()"
                            pRipple
                            class="
                    flex
                    text-surface-0
                    items-center
                    justify-between
                    px-4
                    py-4
                    rounded-2xl
                    cursor-pointer
                    transition-all
                    duration-200
                    hover:bg-surface-100
                "
                        >

                            <span class="font-medium text-lg">
                                {{ item.label }}
                            </span>


                        </a>

                    </li>

                </ul>

            </div>
            <div class="mt-auto p-6">

                <div class="pb-6 w-full">
                    <p-button
                        icon="pi pi-comment"
                        routerLink="/contact"
                        [label]="'components.homeHero.contactUs' | translate"
                        [rounded]="true"
                        styleClass="w-full"
                        [style]="{ 
        '--p-button-primary-background': 'var(--p-secondary-500)', 
        '--p-button-primary-border-color': 'var(--p-secondary-500)',
        '--p-button-primary-hover-background': 'var(--p-secondary-600)',
        '--p-button-primary-hover-border-color': 'var(--p-secondary-600)',
        '--p-button-primary-active-background': 'var(--p-secondary-700)',
        '--p-button-primary-active-border-color': 'var(--p-secondary-700)'
    }"
                    />
                </div>

                <div class="main-footer__social flex gap-6 items-center">

                    <a
                        *ngFor="let item of items"
                        [href]="item.url"
                        [target]="item.target ? item.target : '_self'"
                        rel="noopener noreferrer"
                        class="text-surface-0 hover:text-primary-300 transition-colors duration-200"
                    >
                        <i
                            [class]="item.icon"
                            style="font-size: 1.5rem"
                        ></i>
                    </a>

                </div>

            </div>
        </div>
    </ng-template>
</p-drawer>