<section class="team-two">
    <div class="container">

        <div class="sec-title text-center">

            <div class="sec-title__tagline bw-split-in-right">
                {{ 'components.about.team.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left">
                {{ 'components.about.team.title' | translate }}
            </h3>

            <p class="sec-title__text bw-split-in-up-fast">
                {{ 'components.about.team.description' | translate }}
            </p>

        </div>

        <div>

            <ui-carousel
                [hideMask]="true"
                [hideButtons]="true"
                [hideDots]="!isMobile()"
                [options]="{
        align: 'start',
        loop: true,
        containScroll: 'trimSnaps'
    }"
                [size]="'33.333%'"
                spacing="24px"
                height="auto"
                [breakpoints]="breakpoints"
            >

                @for (item of teamItems; track $index) {

                <ui-carousel-item className="px-3">

                    <div
                        class="team-two__item wow fadeInUp h-full"
                        data-wow-duration="1500ms"
                        [attr.data-wow-delay]="item.delay + 'ms'"
                    >

                        <div class="team-two__item__image">

                            <img [src]="item.image">

                            <div class="team-two__item__icon">

                                <a
                                    *ngFor="let social of item.socials"
                                    [href]="social.url"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <i [class]="social.icon"></i>
                                </a>

                            </div>

                        </div>

                        <div class="team-two__item__content">

                            <h4 class="team-two__item__title">
                                <a [href]="item.link">
                                    {{ localization.getText(item.name) }}
                                </a>
                            </h4>

                            <p class="team-two__item__text">
                                {{ localization.getText(item.position) }}
                            </p>

                        </div>

                    </div>

                </ui-carousel-item>

                }

            </ui-carousel>

        </div>

    </div>
</section>