<section class="why-choose-two">
    <div class="container">

        <div class="sec-title text-start">
            <div class="sec-title__tagline bw-split-in-right text-surface-0!">
                {{ 'components.homeWhyChoose.tagline' | translate }}
            </div>

            <h3 class="sec-title__title bw-split-in-left">
                {{ 'components.homeWhyChoose.title' | translate }}
            </h3>

            <p class="sec-title__text bw-split-in-up-fast">
                {{ 'components.homeWhyChoose.description' | translate }}
            </p>
        </div>

        <div
            class="why-choose-two__carousel-box wow fadeInUp"
            data-wow-delay="200ms"
        >
            <ui-carousel
                [scaled]="false"
                dotActiveClass="bg-white scale-125"
                dotInactiveClass="bg-white/40"
                className="why-choose-two__carousel"
                [hideMask]="true"
                [hideDots]="!isMobile()"
                [hideButtons]="true"
                [options]="{
        align: 'start',
        loop: true,
       containScroll: 'trimSnaps'
    }"
                [size]="'33.333%'"
                spacing="24px"
                height="auto"
                [breakpoints]="breakpoints"
            >

                <ui-carousel-item
                    *ngFor="let item of whyChooseItems; let index = index"
                    className="px-4"
                    [scaled]="false"
                >
                    <div class="why-choose-two__item
         shadow-[0_4px_20px_rgba(0,0,0,0.04)]
         h-[318px]
        ">
                        <div class="why-choose-two__item__icon">
                            <i
                                [class]="item.icon"
                                style="font-size: 2rem"
                            ></i>
                        </div>

                        <h4 class="why-choose-two__item__title">
                            {{ item.titleKey | translate }}
                        </h4>

                        <p class="why-choose-two__item__text flex-1">
                            {{ item.descriptionKey | translate }}
                        </p>
                    </div>
                </ui-carousel-item>

            </ui-carousel>
        </div>
    </div>
</section>