.how-to-work__icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--gotur-gray, #f3f8f6);
    height: 100px;
    border: 2px dashed var(--gotur-base, #63ab45);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: var(--gotur-base, #63ab45);
    font-size: 45px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.how-to-work {
    position: relative;
    padding: 120px 0px;
}


.how-to-work__icon__count {
    position: relative;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -6px;
    top: 0px;
    background-color: var(--gotur-primary, #f7921e);
    height: 34px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.how-to-work__shape img {
    object-fit: cover;
    width: 100%;
}

.how-to-work__shape {
    position: absolute;
    top: 40%;
    z-index: -1;
    display: none;
    animation: leftToRight 4s ease-in-out infinite;
}

.how-to-work__icon__count::after {
    content: counter(workPlanningSerialNumber);
    counter-increment: workPlanningSerialNumber;
    font-family: var(--gotur-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: var(--gotur-white, #fff);
    transition: all 0.4s ease-in-out;
}

@media (min-width: 992px) {
    .how-to-work__shape {
        display: block;
    }
}


/******** How To Work One*********/
.how-to-work {
    position: relative;
    z-index: 1;
    counter-reset: workPlanningSerialNumber;
}

.how-to-work__item {
    text-align: center;
}

.how-to-work__item:hover .how-to-work__icon {
    // background-color: var(--gotur-base, #63ab45);
    // border-style: solid;
    color: var(--gotur-white, #fff);
}

.how-to-work__item:hover .how-to-work__icon__count {
    background-color: var(--gotur-white, #fff);
}

.how-to-work__item:hover .how-to-work__icon__count::after {
    color: var(--gotur-base, #63ab45);
}

.how-to-work__icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--gotur-gray, #f3f8f6);
    height: 100px;
    border: 2px solid var(--travhub-base, #63ab45);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: var(--travhub-base, #63ab45);
    font-size: 45px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.how-to-work__icon__count {
    position: relative;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -6px;
    top: 0px;
    background-color: var(--gotur-primary, #f7921e);
    height: 34px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.how-to-work__icon__count::after {
    content: counter(workPlanningSerialNumber);
    counter-increment: workPlanningSerialNumber;
    font-family: var(--gotur-font, "Plus Jakarta Sans", sans-serif);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: var(--gotur-white, #fff);
    transition: all 0.4s ease-in-out;
}

.how-to-work__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-transform: capitalize;
    color: var(--gotur-black, #1d231f);
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
}

.how-to-work__text {
    margin-top: -6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 346px;
    margin-left: auto;
    margin-right: auto;
}

.how-to-work .container {
    position: relative;
}

.how-to-work__shape {
    position: absolute;
    top: 47%;
    z-index: -1;
    display: none;
    animation: leftToRight 4s ease-in-out infinite;
}

.how-to-work__shape img {
    object-fit: cover;
    width: 100%;
}

@media (min-width: 992px) {
    .how-to-work__shape {
        display: block;
    }
}

.how-to-work__element {
    position: absolute;
    left: 0;
    top: 30%;
    animation: topToBottom 3.5s ease-in-out infinite;
    z-index: -1;
    display: none;
}

.how-to-work__element::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 290px;
    background: var(--gotur-primary, #f7921e);
    filter: blur(150px);
    left: -20%;
    opacity: 0.5;
}

@media (min-width: 1200px) {
    .how-to-work__element {
        display: block;
    }
}


/*--------------------------------------------------------------
# Why Choose Us
--------------------------------------------------------------*/
.why-choose-one {
    position: relative;
    padding: 120px 0;
    // background-color: rgba(var(--travhub-base-rgb), 0.06);

    @media (max-width: 767px) {
        padding: 80px 0;
    }
}

.why-choose-one--about {
    background-color: transparent;
}

.why-choose-one--about .why-choose-one__rm {
    background-color: var(--travhub-white);
}

.why-choose-one__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why-choose-one__image {
    position: relative;
    z-index: 1;
    display: inline-block;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 24px;
    }
}

.why-choose-one__image::after {
    position: absolute;
    right: -29px;
    top: -25px;
    content: '';
    // border: 1px dashed var(--travhub-base);
    border-radius: 24px;
    z-index: -1;
    width: 81%;
    height: 100%;

    @media (max-width: 767px) {
        display: none;
    }
}

.why-choose-one__image__shape {
    position: absolute;
    width: 82px;
    height: 62px;
    top: -20px;
    bottom: 0;
    margin: auto;
    left: -110px;
    animation: treeMove2 2s infinite alternate;

    @media (max-width: 1399px) {
        display: none;
    }
}

.why-choose-one__image__two {
    position: absolute;
    right: -99px;
    top: 72px;
    width: 153px;
    border-radius: 185px;
    background-color: var(--travhub-gray);
    padding: 4px;
    animation: movebounce3 4s linear infinite;

    @media (max-width: 767px) {
        display: none;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 185px;
    }
}

.why-choose-one__check {
    position: absolute;
    left: -100px;
    bottom: 150px;
    z-index: 2;
    background-color: var(--travhub-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 16px 33px 16px 20px;
    gap: 22px;
    filter: drop-shadow(0 0 14.5px rgba(0, 0, 0, 0.1));

    @media (max-width: 1299px) {
        left: 0;
    }
}

.why-choose-one__check__icon {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    background-color: var(--travhub-base);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--travhub-white);
    font-size: 18px;
    line-height: 1;
}

.why-choose-one__check:hover .why-choose-one__check__icon {
    animation: messageMove 300ms ease-in-out 1;
}

.why-choose-one__check__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--travhub-black);
    margin: 0;
}

.why-choose-one__check__title span {
    display: block;
    color: var(--travhub-text);
    font-weight: 400;
    font-size: 16px;
}

.why-choose-one__rm {
    width: 160px;
    height: 160px;
    background-color: var(--travhub-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -43px;
    bottom: -5px;
    z-index: 2;

    @media (max-width: 767px) {
        display: none;
    }
}

.why-choose-one__rm a {
    width: 114px;
    height: 114px;
    background-color: var(--travhub-base);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    color: var(--travhub-white);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.why-choose-one__rm a i {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 1;
    backface-visibility: hidden;
}

.why-choose-one__rm a:hover i {
    animation: 0.4s forwards iconTranslateY;
}

.why-choose-one__rm a::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    content: "";
    border: 1px dashed var(--travhub-white);
    border-radius: 50%;
    animation: textRotate 15s linear 0s forwards infinite alternate;
}

.why-choose-one__content {
    position: relative;

    @media (min-width: 1400px) {
        margin-left: -65px;
    }

    @media (max-width: 1199px) {
        margin: 45px 0 0;
    }

    .sec-title {
        padding-bottom: 24px;
    }
}

.why-choose-one__box {
    position: relative;
    padding: 0 0 0 100px;
    margin-top: 29px;
}

.why-choose-one__box__icon {
    width: 63px;
    height: 63px;
    background-color: var(--travhub-base);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    line-height: 1;
    color: var(--travhub-white);
    font-size: 31px;
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 2;
}

.why-choose-one__box__icon::after {
    position: absolute;
    right: -4px;
    top: -4px;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px dashed var(--travhub-base);
    border-radius: 11px;
    z-index: -1;
}

.why-choose-one__box:hover .why-choose-one__box__icon {
    animation: messageMove 300ms ease-in-out 1;
}

.why-choose-one__box__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.why-choose-one__box__text {
    margin: 0;
    line-height: 28px;
}

.why-choose-one__btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 22px;
    margin: 53px 0 0;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.why-choose-one__author {
    position: relative;
    display: flex;
    align-items: center;
}

.why-choose-one__author__item {
    width: 67px;
    height: 67px;
    border: 3px solid var(--travhub-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.why-choose-one__author__item+.why-choose-one__author__item {
    margin-left: -33px;
}

.why-choose-one__author__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.why-choose-one__author__item {
    background-color: #E1FEF8;
    border-radius: 50%;
    font-size: 24px;
    color: var(--travhub-base);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-one__count {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin: 0 0 0 -8px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.why-choose-one__count span {
    display: block;
    font-size: 16px;
    opacity: .5;
}

.why-choose-two {
    position: relative;
    z-index: 1;
    background-color: #1BBC9B;
    padding: 120px 0px;
}

@media (max-width: 767px) {
    .why-choose-two {
        padding: 80px 0px;
    }
}

.why-choose-two .sec-title {
    //padding-bottom: 410px;
}

@media (max-width: 992px) {
    .why-choose-two .sec-title {
        padding-bottom: 20px;
    }
}

.why-choose-two .sec-title .sec-title__title {
    color: var(--travhub-white);
    margin-bottom: 10px;
}

.why-choose-two .sec-title .sec-title__text {
    color: var(--travhub-white);
    // max-width: 460px;
}

.why-choose-two__item {
    background-color: var(--travhub-white);
    padding: 55px 32px 90px;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

@media (max-width: 1850px) {
    .why-choose-two__item {
        padding: 50px 30px 50px;
    }
}

.why-choose-two__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //background-color: rgba(var(--travhub-base-rgb), 0.7);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
}

.why-choose-two__item__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--travhub-base);
    color: var(--travhub-white);
    margin-bottom: 25px;
    transition: all 0.4s ease-in-out;
}

.why-choose-two__item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: var(--travhub-black);
    margin-bottom: 23px;
    transition: all 0.4s ease-in-out;
}

.why-choose-two__item__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--travhub-text);
    margin-bottom: -6px;
    transition: all 0.4s ease-in-out;
}

.why-choose-two__item:hover .why-choose-two__item__icon {
    animation: messageMove 300ms ease-in-out 1;
    // background-color: var(--travhub-white);
    color: var(--travhub-white);
}

.why-choose-two__item:hover .why-choose-two__item__title,
.why-choose-two__item:hover .why-choose-two__item__text {
    //color: var(--travhub-white);
}

.why-choose-two__item:hover::after {
    transform: translateX(0);
}

.why-choose-two__carousel-box {
    position: relative;
    // right: 0;
    // left: 0;
    // bottom: 120px;
    // width: calc(50% - 0px);
    // margin-right: -55px;

    @media (max-width: 1500px) {
        margin-right: 0px;
    }

    @media (max-width: 1199px) {
        width: 100%;
        margin: 0;
        // padding: 0 20px;
        position: relative;
        bottom: auto;
        right: auto;
    }
}

.why-choose-two__left {
    position: relative;
    z-index: 1;
    margin-top: 20px;

    @media (max-width: 1199px) {
        margin: 0 0 40px;
        max-width: 595px;
    }

    @media (min-width: 1400px) {
        margin-right: 50px;
    }
}

.why-choose-two__left__item-one::after {
    content: "";
    width: 88px;
    height: 113px;
    position: absolute;
    top: -2px;
    left: -8px;
    background-color: var(--travhub-base);
    -webkit-mask: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.000000 117.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,117.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M758 1126 c-333 -145 -578 -409 -688 -740 -54 -165 -77 -360 -44 -373 34 -13 49 11 56 90 25 273 148 529 349 723 117 112 218 179 363 239 63 26 82 38 84 56 4 21 -12 39 -33 39 -5 0 -45 -15 -87 -34z m-714 -1048 c4 -17 2 -28 -4 -28 -5 0 -10 14 -10 32 0 36 4 35 14 -4z"/> </g> </svg> ');
    mask: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.000000 117.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,117.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M758 1126 c-333 -145 -578 -409 -688 -740 -54 -165 -77 -360 -44 -373 34 -13 49 11 56 90 25 273 148 529 349 723 117 112 218 179 363 239 63 26 82 38 84 56 4 21 -12 39 -33 39 -5 0 -45 -15 -87 -34z m-714 -1048 c4 -17 2 -28 -4 -28 -5 0 -10 14 -10 32 0 36 4 35 14 -4z"/> </g> </svg> ');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: auto;
    mask-size: auto;
}

.why-choose-two__left__item-two::after {
    content: "";
    width: 93px;
    height: 113px;
    position: absolute;
    bottom: -2px;
    right: -8px;
    background-color: var(--travhub-base);
    -webkit-mask: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.000000 113.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,113.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M856 1108 c-3 -7 -10 -51 -16 -98 -32 -231 -152 -472 -320 -641 -123 -124 -238 -199 -415 -270 -78 -31 -90 -39 -90 -60 0 -21 4 -24 40 -23 86 1 306 118 443 235 231 196 406 530 415 793 2 71 2 71 -26 74 -16 2 -29 -2 -31 -10z"/> </g> </svg>');
    mask: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.000000 113.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,113.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M856 1108 c-3 -7 -10 -51 -16 -98 -32 -231 -152 -472 -320 -641 -123 -124 -238 -199 -415 -270 -78 -31 -90 -39 -90 -60 0 -21 4 -24 40 -23 86 1 306 118 443 235 231 196 406 530 415 793 2 71 2 71 -26 74 -16 2 -29 -2 -31 -10z"/> </g> </svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: auto;
    mask-size: auto;
}

.why-choose-two__left__item-one,
.why-choose-two__left__item-two {
    position: absolute;
    top: 50px;
    left: 5%;

    @media (max-width: 767px) {
        display: none;
    }
}

.why-choose-two__left__item-one img,
.why-choose-two__left__item-two img {
    border-radius: 50%;
    border: 10px solid var(--travhub-white);
}

.why-choose-two__left__item-two {
    top: auto;
    left: auto;
    right: 10%;
    bottom: 50px;
}

.why-choose-two__left__item-three {
    text-align: center;
}

.why-choose-two__left__item-three img {
    border-radius: 185px;
    border: 13px solid var(--travhub-white);
}

.why-choose-two__left__item-shap {
    position: absolute;
    top: -8%;
    right: 15%;
    animation: movebounce2 4s linear infinite;
}

@media (min-width: 1400px) {
    .why-choose-two .sec-title {
        //margin-left: 40px;
    }
}