<section class="testimonials-one">
    <div
        class="testimonials-one__bg"
        style="background-image: url(assets/images/shapes/page-header-bg-shape.png);"
    ></div>
    <div class="container">
        <div class="grid grid-cols-1 xl:grid-cols-2">

            <div
                class="testimonials-one__image wow fadeInUp mx-auto xl:mx-0"
                data-wow-delay="100ms"
            >
                <div class="testimonials-one__image__one">
                    <img
                        src="assets/images/resources/test-1-1.jpg"
                        alt="travhub"
                    >
                </div>
                <div
                    class="testimonials-one__image__two wow fadeInUp"
                    data-wow-delay="200ms"
                >
                    <img
                        src="assets/images/resources/test-1-2.jpg"
                        alt="travhub"
                    >
                    <img
                        src="assets/images/resources/test-1-4.jpg"
                        alt="travhub"
                    >
                    <img
                        src="assets/images/resources/test-1-5.jpg"
                        alt="travhub"
                    >
                </div>
                <div
                    class="testimonials-one__image__three wow fadeInUp"
                    data-wow-delay="300ms"
                >
                    <img
                        src="assets/images/resources/test-1-3.jpg"
                        alt="travhub"
                    >
                </div>
                <div
                    class="testimonials-one__image__shape wow fadeInUp"
                    data-wow-delay="400ms"
                >
                    <img
                        src="assets/images/shapes/test-1-shape.png"
                        alt="travhub"
                    >
                </div>
            </div>

            <div>

                <ui-carousel
                    className="testimonials-one__carousel w-full!"
                    refContainerClass="w-full! max-w-full!"
                    [hideMask]="true"
                    [hideDots]="false"
                    [autoPlay]="false"
                    [hideButtons]="true"
                    [options]="{
            align: 'center',
            loop: false,
            
        }"
                    spacing="0px"
                    [size]="'100%'"
                    height="auto"
                >
                    <ui-carousel-item
                        *ngFor="let item of testimonialsItems"
                        className="px-4"
                    >
                        <div class="testimonials-card mx-auto">

                            <div class="testimonials-card__quote">


                                <svg
                                    width="40"
                                    height="40"
                                    viewBox="0 0 40 40"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M9.56391 15.2367L9.49227 15.2349C8.62937 15.2158 7.91273 15.8952 7.89109 16.7578C7.86953 17.6205 8.55133 18.3373 9.41398 18.359L9.49898 18.361C12.8769 18.4264 15.625 21.2295 15.625 24.6094C15.625 28.0556 12.8212 30.8594 9.375 30.8594C5.92875 30.8594 3.125 28.0556 3.125 24.6094C3.125 20.3048 4.14875 16.3328 6.16805 12.8035C7.67719 10.1656 9.21187 8.77227 9.24055 8.74649C9.88414 8.17516 9.94461 7.19016 9.37477 6.5443C8.80375 5.89735 7.81648 5.83555 7.16937 6.40641C7.09383 6.47313 5.29859 8.0743 3.53141 11.1201C1.92031 13.8967 0 18.4909 0 24.6094C0 29.7788 4.20563 33.9844 9.375 33.9844C14.5444 33.9844 18.75 29.7788 18.75 24.6094C18.75 22.1374 17.7963 19.8049 16.0645 18.0415C14.3363 16.2816 12.0277 15.2856 9.56391 15.2367Z"
                                        fill="white"
                                    />
                                    <path
                                        d="M37.3145 18.0415C35.5862 16.2816 33.2777 15.2855 30.8138 15.2367L30.7423 15.2349C29.8822 15.2158 29.1627 15.8952 29.1411 16.7578C29.1195 17.6205 29.8013 18.3373 30.664 18.359L30.749 18.361C34.1269 18.4265 36.875 21.2295 36.875 24.6094C36.875 28.0556 34.0712 30.8594 30.625 30.8594C27.1788 30.8594 24.375 28.0556 24.375 24.6094C24.375 20.3048 25.3988 16.3327 27.418 12.8036C28.9271 10.1657 30.4618 8.77234 30.4905 8.74656C31.1341 8.17516 31.1945 7.19023 30.6247 6.54437C30.0538 5.89734 29.0664 5.83555 28.4193 6.40648C28.3438 6.4732 26.5485 8.07437 24.7813 11.1202C23.1703 13.8967 21.25 18.4909 21.25 24.6094C21.25 29.7787 25.4556 33.9844 30.625 33.9844C35.7944 33.9844 40 29.7787 40 24.6094C40 22.1374 39.0463 19.8049 37.3145 18.0415Z"
                                        fill="white"
                                    />
                                </svg>

                            </div>

                            <div class="testimonials-card__content">
                                {{ item.content }}
                            </div>

                            <h3 class="testimonials-card__name">
                                {{ item.name }}
                            </h3>

                            <span class="testimonials-card__designation">
                                {{ item.designation }}
                            </span>

                        </div>
                    </ui-carousel-item>
                </ui-carousel>
            </div>
        </div>
    </div>
</section>